<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723303212507-u6o1mqem1i2fg324ek1p6dkoqi0s8j5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723303212507-u6o1mqem1i2fg324ek1p6dkoqi0s8j5r</string>
	<key>API_KEY</key>
	<string>AIzaSyBmFqHKBL0qq4gpMW5CJkO_-iC0heFi5vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>723303212507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookingAtHome</string>
	<key>PROJECT_ID</key>
	<string>foots-654f5</string>
	<key>STORAGE_BUCKET</key>
	<string>foots-654f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723303212507:ios:ddb7b9d5711bc5194633fe</string>
	<key>DATABASE_URL</key>
	<string>https://foots-654f5.firebaseio.com</string>
</dict>
</plist>